<% model = FormComponentPreview::TestModel.new(favorite_fruits: "banana") %>

<%= form_with url: "/", method: :post, model: model do |f| %>
  <%= render ComboboxComponent.new(form: f, method: :favorite_fruits, label: I18n.t(:favorite_fruits), collection: FormComponentPreview.fruit_options, item_value_method: :value, item_label_method: :label) %>
  <%= render ConditionalComponent.new(method: :favorite_fruits, value: "banana", content_description: "Followup banana question") do %>
    <h2>Header</h2>
    <p>Body</p>
  <% end %>
<% end %>