<% extra_class = html_attrs&.delete(:class) %>
<% label_content = capture do %>
  <span class="inline-flex items-center justify-center gap-cfa-xsm">
    <%= inline_icon(:arrow_left, size: 24, aria_hidden: true) %>
    <%= I18n.t("back") %>
  </span>
<% end %>
<%= link_to label_content, @back_url,
      class: "btn btn--small btn--back #{extra_class}".strip,
      disabled: @disabled,
      "aria-disabled": @disabled,
      tabindex: (@disabled ? -1 : nil),
      **(html_attrs || {}) %>
