<div x-data="{
  uncheckMatching(selector) {
    this.$root.querySelectorAll(selector).forEach((cb) => {
      if (cb.checked) {
        cb.checked = false;
        cb.dispatchEvent(new Event('change', { bubbles: true }));
      }
    });
  },
  onOptionChange(event) {
    if (event.target.matches('input[type=checkbox]') && event.target.checked) {
      this.uncheckMatching('[data-exclusive-checkbox-group=exclusive] input[type=checkbox]');
    }
  },
  onExclusiveChange(event) {
    if (event.target.matches('input[type=checkbox]') && event.target.checked) {
      this.uncheckMatching('[data-exclusive-checkbox-group=options] input[type=checkbox]');
    }
  }
}">
  <div data-exclusive-checkbox-group="options" class="space-y-cfa-med" @change="onOptionChange($event)">
    <%= content %>
  </div>

  <% if exclusive_option? %>
    <div data-exclusive-checkbox-group="exclusive" class="mt-cfa-med" @change="onExclusiveChange($event)">
      <%= exclusive_option %>
    </div>
  <% end %>
</div>
