  <details>
    <summary class="flex justify-normal"> <%= image_tag icon_image_path, alt: icon_alt_text, class: "size-[20px]" %>  <%= @summary_text %> </summary>
    <p><%= @detail_text %> </p>
  </details>