<% if @form.object.errors[@method].any? %>
  <p class="form_errors flex items-center gap-2 text-text-body-secondary">
    <%= inline_icon("error", size: @small ? 16 : 24, css_class: "text-error") %>
    <span>
      <%= safe_join(
            @form.object.errors.where(@method).map { |e| e.message.html_safe? ? e.full_message.html_safe : e.full_message },
            ", "
          ) %>
    </span>
  </p>
<% end %>
