<p class="<%= class_names("form_warning type-body-label flex items-start gap-cfa-sm text-text-body-secondary", @css_class) %>">
  <%= inline_icon(:warning, size: icon_size, css_class: "text-warning") %>
  <span><%= @warning_message %></span>
</p>
