<% if @form.object.errors[@method].any? %>
  <p class="form_errors">
    <%= image_tag(icon_image_path("alert"), alt: icon_alt_text("alert"), class: "inline align-text-bottom") %> <%= @form.object.errors.full_messages_for(@method).join(", ") %>
  </p>
<% end %>