<% if @form.object.errors[@method].any? %>
  <p class="<%= class_names("form_errors type-body-label flex items-start gap-cfa-sm text-text-body-secondary", @css_class) %>">
    <%= inline_icon(:error, size: @small ? 16 : 24, css_class: "text-error") %>
    <span>
      <%= safe_join(
            @form.object.errors.where(@method).map { |e| e.message.html_safe? ? e.full_message.html_safe : e.full_message },
            ", "
          ) %>
    </span>
  </p>
<% end %>
