<div class="currency-field space-y-cfa-sm">
  <% has_error = @form.object.errors[@method].any? %>
  <%= @form.label @method, @label, class: "label block #{required_class}" %>
  <% if @help_text %>
    <p class="help_text">
      <%= @help_text %>
    </p>
  <% end %>
  <div class="relative max-w-sm">
    <span class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-cfa-med font-bold text-text-body-secondary">
      $
    </span>
    <%= @form.text_field @method,
          class: "w-full !pl-cfa-xl #{"input-error" if has_error}",
          inputmode: "decimal",
          placeholder: "0.00",
          "x-data": "",
          "x-mask:dynamic": "$money",
          "x-init": "$el.form?.addEventListener('formdata', (e) => { e.formData.set($el.name, $el.value.replace(/[^0-9.]/g, '')) }); $el.dispatchEvent(new Event('input'))",
          **@number_field_kwargs %>
  </div>
  <%= render(FormErrorsComponent.new(form: @form, method: @method)) %>
</div>
