<span class='flex gap-cfa-sm'>
<% if @icon.present? %>
    <%= inline_icon(@icon, size: 20) %>
<% end %>
<%= link_to @label, @url, target: "_blank", rel: "noopener noreferrer", **html_attrs %>
</span>
