<% label_id = "#{@label.parameterize}-#{object_id}" %>
<div class="cfa-stack-sm">
    <%= content_tag(@heading || :span, @label, class: "label block", id: label_id) %>
    <%= content_tag(@text ? :span : :div, @text || content, class: "w-full max-w-sm #{@style}", aria: {labelledby: label_id}) %>
</div>
