<div class="space-y-2">
    <%= content_tag(:span, @label, class: "label block", aria: {labelledby: "prefilled-content"})%>
    <%= content_tag(:span, @text, class: "w-full max-w-sm " + @style, id: "prefilled-content")%>
</div>