<% has_error = @form.object.errors[@method].any? %>
<div class="<%= class_names("cfa-stack-sm", @css_class) %>">
  <div class="flex items-center gap-cfa-sm">
    <%= checkbox_wrap(@form.check_box(
          @method,
          field_attrs(
            class: "cfa-checkbox h-6 w-6 rounded #{has_error ? "border-2 border-border-error" : "border checked:border-2 disabled:border-border-disabled border-border-default"}",
            disabled: @disabled,
            aria: { invalid: @has_error ? "true" : nil },
            **aria_required_attrs,
            **aria_field_attrs
          ),
          "1",
          ""
        )) %>
    <%= @form.label(
          @method,
          label_with_optional_marker,
          class: ("text-text-disabled" if @disabled)
        ) %>
  </div>
  <%= render(FormErrorsComponent.new(form: @form, method: @method)) %>
</div>
