<div class="space-y-cfa-sm">
  <div class="flex items-start gap-cfa-sm <%= "opacity-50" if @disabled %>">
    <%= @form.check_box(
          @method,
          {
            class: "h-5 w-5 rounded border #{@form.object&.errors&.include?(@method) ? "border-border-error" : "border-border-default"}",
            disabled: @disabled
          },
          "1",
          ""
        ) %>
    <%= @form.label(
          @method,
          @label,
          class: (@disabled ? "text-text-disabled" : "text-text-default")
        ) %>
  </div>
  <%= render(FormErrorsComponent.new(form: @form, method: @method)) %>
</div>
