<div class="space-y-2">
  <%= @form.label @method, @label, class: "label block" %>
  <% if @help_text %>
    <p class="help_text">
      <%= @help_text %>
    </p>
  <% end %>
  <%= @form.text_field @method, class: "w-full max-w-sm border border-zinc-900", "x-data": "", "x-mask": "999-99-9999", "placeholder": "___-__-____" %>
  <%= render(FormErrorsComponent.new(form: @form, method: @method)) %>
</div>
<input type="checkbox" id="show" value="Show">
<label for="show">Show</label>