<h1>
  Heading 1
</h1>

<h2>
  Heading 2
</h2>

<p>
  Body
</p>

<p class="label">
  Label
</p>

<p class="help_text">
  Help text
</p>

<ul>
  <li>
    Unordered List Item
  </li>
</ul>

<ol>
  <li>
    Ordered List Item
  </li>
</ol>

<p>
  <a href="https://www.google.com/?<%= SecureRandom.uuid %> %>">Hyperlinked text</a>
</p>

<p>
  <a href="https://www.google.com">Visited hyperlinked text</a> (open in new tab if it's not already purple)
</p>


<h1>
  <%= render TextComponent.new(text: "I am a Heading level one", icon: "info")  %>
</h1>


<p>
  <%= render TextComponent.new(text: "I am a paragraph", icon: "check_mark")  %>
</p>
<p>
  <%= render TextComponent.new(text: "I am a paragraph")  %>
</p>