.btn {
    @apply block text-center rounded border cursor-pointer;

    a {
        @apply text-inherit no-underline;
    }
}

.btn--primary {
    @apply bg-primary border-primary text-text-default;
    @apply hover:bg-primary-hover;
    @apply active:border-primary;
    @apply disabled:bg-background-disabled disabled:text-text-disabled disabled:border-border-disabled;
}

.btn--secondary {
    @apply bg-background-secondary border-2 border-border-default text-text-default;
    @apply hover:bg-primary-hover;
    @apply active:border-primary;
    @apply disabled:bg-background-disabled disabled:text-text-disabled disabled:border-border-disabled;
}

.btn--destructive {
    @apply bg-white border-2 border-border-error text-destructive;
    @apply hover:bg-background-destructive-hover;
    @apply active:bg-background-destructive-active;
    @apply disabled:bg-background-disabled disabled:text-text-disabled disabled:border-border-disabled;
}

.btn--small {
    @apply px-3 py-2 w-fit;
    font-size: 16px;
    font-weight: 700;
}

.btn--large {
    @apply px-cfa-lg py-cfa-med w-fit mx-auto;
    font-size: 22px;
    font-weight: 700;
}
