form {
    @apply flex flex-col gap-y-cfa-xl;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="search"],
input[type="password"],
input[type="url"],
textarea,
select {
    @apply border border-border-default rounded-lg px-cfa-sm py-cfa-sm bg-white text-text-default;

    &:focus-visible {
        @apply outline-2 outline-offset-2 outline-focus;
    }

    &:disabled {
        @apply bg-background-disabled text-text-disabled border-border-disabled cursor-not-allowed;
    }
}

.radio_button_item {
    @apply space-x-cfa-sm;
}

.checkbox_item {
    @apply flex items-center space-x-cfa-sm;
}

/* the css rules below are to remove the spin button from the input currency component */
.currency-field input[type="number"]::-webkit-outer-spin-button,
.currency-field input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.currency-field input[type="number"] {
  -moz-appearance: textfield;
}

.form_errors {
    @apply  mt-cfa-sm;
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    a {
        text-decoration: underline;
    }
}
/* Checkbox */
.cfa-checkbox {
  @apply appearance-none bg-white cursor-pointer flex-shrink-0;
  box-sizing: border-box;
}

.cfa-checkbox:checked {
  background-color: var(--color-primary);
}

.cfa-checkbox:disabled {
  cursor: not-allowed;
}

.cfa-checkbox-wrap .cfa-icon {
  display: none;
}

.cfa-checkbox-wrap:has(.cfa-checkbox:checked) .cfa-icon {
  display: inline-block;
}


/* Select */
.select-error {
  @apply border-2 rounded;
  border-color: var(--color-border-error) !important;
}


/* Radio */
.radio-error {
  @apply appearance-none w-5 h-5 border-2 rounded-full bg-white inline-grid place-content-center;
  border-color: var(--color-border-error);
}

.radio-error:checked {
  border-color: var(--color-border-error);
}

.radio-error:checked::before {
  content: "";
  @apply w-[0.65rem] h-[0.65rem] rounded-full;
  background-color: var(--color-border-error);
}


/* Text / inputs / select / combobox */
.input-error {
  @apply border outline;
  border-color: var(--color-border-error);
  outline-color: var(--color-border-error);
}

.input-error:focus {
  outline-color: var(--color-border-error);
}


.field_with_errors {
    display: inline;
    input {
        border-color: var(--color-border-error) !important;
    }
}
