main {
    @apply bg-background-app mx-auto w-full max-w-[368px] md:max-w-[688px] xl:max-w-[944px] 2xl:max-w-[1072px] px-cfa-med py-cfa-xl space-y-cfa-xl;
}

.cfa-card > * + * {
    margin-top: var(--spacing-cfa-med);
}

.cfa-card > :is(h1, h2, h3, h4, h5, h6) + * {
    margin-top: var(--spacing-cfa-sm);
}

footer {
    a:not(.btn),
    a:visited:not(.btn) {
        color: var(--color-white);
    }
}
