main {
    @apply bg-white mx-auto w-full max-w-[368px] md:max-w-[688px] xl:max-w-[944px] 2xl:max-w-[1072px] px-4 py-8 space-y-8;
}

footer {
    a:not(.btn),
    a:visited:not(.btn) {
        color: white;
    }
}
