<%= render(TooltipComponent.new(label: "Tooltip copy goes here", modal_name: "tooltip")) %>

<%= render(ModalComponent.new(name: "tooltip")) do |c| %>
  <% c.with_header do %>Tooltip header<% end %>
  <p>Tooltip snack content goes here.</p>
<% end %>
