<%= render(TooltipComponent.new(label: "What relationships qualify?", modal_name: "relationships")) do %>
  <p>The following relationships qualify:</p>
  <ul>
    <li>Biological child</li>
    <li>Adopted child</li>
    <li>Stepchild</li>
    <li>Foster child</li>
  </ul>
  <p>If none of your dependents meet one of the relationships listed, this service isn't the best option for you.</p>
<% end %>
