@theme {
    --spacing-cfa-xsm: 4px;
    --spacing-cfa-sm: 8px;
    --spacing-cfa-med: 16px;
    --spacing-cfa-lg: 24px;
    --spacing-cfa-xl: 32px;
    --spacing-cfa-2xl: 40px;

    --color-link-unvisited: #007C7C;
    --color-link-visited: #4C2C92;
    --color-text-body-secondary: #1A353E;
    --color-background-navigation: #011E29;
    --color-icon-primary: #FFF;
    --color-text-button-link: #007C7C;
    --color-border-error: #B50909;
    --color-error: #B50909;
    --color-destructive: #7F0606;
}

@import "./base/typography.css";
@import "./base/lists.css";
@import "./base/links.css";

@import "./components/layout.css";
@import "./components/forms.css";
@import "./components/buttons.css";
@import "./components/icons.css";

@import "./utilities/state.css";
