@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --color-link-unvisited: #007C7C;
    --color-link-visited: #4C2C92;
    --color-text-body-secondary: #1A353E;
    --color-background-navigation: #011E29;
    --color-icon-primary: #FFF;
    --color-text-button-link: #007C7C;
    --color-border-error: #B50909;
}
/* the css rules below are to remove the spin button from the input currency component */
.currency-field input[type="number"]::-webkit-outer-spin-button,
.currency-field input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.currency-field input[type="number"] {
  -moz-appearance: textfield;
}

body {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-size: 16px;
    font-weight: 400;

    @apply antialiased leading-none;
}

main {
    @apply bg-white mx-auto w-full max-w-[368px] md:max-w-[688px] xl:max-w-[944px] 2xl:max-w-[1072px] px-4 py-8 space-y-8;
}

form {
    @apply flex flex-col gap-y-8;
}

.radio_button_item {
    @apply space-x-2;
}

.checkbox_item {
    @apply space-x-2;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 22px;
    font-weight: 400;
}

.label {
    @apply text-zinc-900;
    font-size: 13px;
    font-weight: 700;
}

.label.required::after {
    @apply text-red-700;
    content: " *";
}

.help_text {
    @apply block text-zinc-500;
    font-size: 13px;
    font-weight: 400;
}

ul {
    @apply space-y-6;
    list-style-type: disc;
    list-style-position: inside;
}

ol {
    @apply space-y-6;
    list-style-type: decimal;
    list-style-position: inside;
}

a {
    &:not(.btn) {
        @apply text-link-unvisited underline;
    }
}

a:visited {
    &:not(.btn) {
        @apply text-link-visited;
    }
}

.btn {
    @apply block text-center rounded border cursor-pointer;

    a {
        @apply text-inherit no-underline;
    }
}

.btn--primary {
    @apply bg-black border-none text-gray-50;
}

.btn--secondary {
    @apply bg-white border-2 text-black;
}

.btn--destructive {
    @apply bg-white border-2 border-red-700 text-red-700;
}

.btn--small {
    @apply px-3 py-2 w-fit;
    font-size: 16px;
    font-weight: 700;
}

.btn--large {
    @apply px-6 py-4 w-fit place-self-center;
    font-size: 22px;
    font-weight: 700;
}

.form_errors {
    color: var(--color-text-body-secondary) !important;
    /* font-size: 13px !important; */
    font-weight: 700;
    line-height: normal;
    a {
        text-decoration: underline;
    }
}

.field_with_errors {
    display: inline;
    input {
        border-color: var(--color-border-error) !important;
    }
}

[x-cloak] {
    @apply hidden!;
}

footer {
    a:not(.btn),
    a:visited:not(.btn) {
        color: white;
    }
}

h1 {
    font-weight: 700;
    font-size: 48px;
}

h2 {
    font-weight: 500;
    font-size: 22px;
}