a:not(.btn) {
  @apply inline w-fit border-b border-link-unvisited text-link-unvisited;
}

a:not(.btn):hover {
  @apply border-b-0;
}

a:not(.btn):visited {
  @apply border-link-visited text-link-visited;
}

a:not(.btn):focus-visible {
  @apply rounded-sm outline-2 outline-offset-2 outline-focus;
}
