ul {
    @apply flex flex-col gap-y-cfa-med pl-6;
    list-style-type: disc;
    list-style-position: outside;
}

ol {
    @apply flex flex-col gap-y-cfa-med pl-6;
    list-style-type: decimal;
    list-style-position: outside;
}

ul ul, ul ol, ol ul, ol ol {
    @apply gap-y-cfa-sm;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}
