body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-size: 16px;
    font-weight: 400;

    line-height: normal;
    @apply antialiased bg-background-app text-text-default;
}

h1 {
    font-family: "Geologica", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    margin-bottom: 28px;
}

.type-display {
    font-family: "Geologica", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0;
}

.type-body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    margin-bottom: 18px;
}

.type-body-bold, h3 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0;
    margin-bottom: 20px;
}

.type-body-label, .label {
    @apply text-text-default;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0;

    & ul > li + li,
    & ol > li + li { margin-top: 15px; }
}

.type-progress-text, .help_text {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
}

.type-progress-text {
    margin-bottom: 18px;
}

.help_text {
    margin-bottom: 8px;
}

.type-button {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0;
}

.type-button-sm {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0;
}

.help_text {
    @apply block text-text-body-secondary;
}
